$color-white: #fff;
$color-black: #000;
$color-green: #55c57a;
$color-blue:#4998f2;
$color-red:  #e60000;
$color-light-grey:#e5e5e5;
$default-font-size: 1.6rem;
$background-color1: rgb(255,138,5);
$background-color2: rgb(71,71,71);